<?xml version="1.0"?>
<unityCurbside xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <containers>
    <container>
      <types>

        <!--Whitelist User-->
        <type type="DH.Curbside.Core.Application.WhitelistUser.IWhitelistUserApplication, DH.Curbside.Core.Application" mapTo="DH.Curbside.Core.Application.WhitelistUser.WhitelistUserApplication, DH.Curbside.Core.Application">
          <lifetime type="hierarchical" />
          <interceptor type="InterfaceInterceptor" />
          <policyInjection />
        </type>
        <type type="DH.Curbside.Core.Persistence.RepositoryInterfaces.IWhitelistUserRepository, DH.Curbside.Core.Persistence" mapTo="DH.Curbside.Infrastructure.Persistence.Repositories.WhitelistUserRepository, DH.Curbside.Infrastructure.Persistence">
          <lifetime type="hierarchical" />
        </type>
        <type type="DH.Curbside.Core.Persistence.RepositoryInterfaces.IDomainRepository, DH.Curbside.Core.Persistence" mapTo="DH.Curbside.Infrastructure.Persistence.Repositories.DomainRepository, DH.Curbside.Infrastructure.Persistence">
          <lifetime type="hierarchical" />
        </type>

        <type type="DH.Curbside.Core.Enterprise.Email.IEmailService, DH.Curbside.Core.Enterprise" mapTo="DH.Curbside.Core.Enterprise.Email.SmtpEmailService, DH.Curbside.Core.Enterprise">
          <lifetime type="hierarchical" />
        </type>
        <!--Whitelist User-->

        <!--Patient Case-->
        <type type="DH.Curbside.Core.Application.PatientCase.IPatientCaseApplication, DH.Curbside.Core.Application" mapTo="DH.Curbside.Core.Application.PatientCase.PatientCaseApplication, DH.Curbside.Core.Application">
          <lifetime type="hierarchical" />
          <interceptor type="InterfaceInterceptor" />
          <policyInjection />
        </type>
        <type type="DH.Curbside.Core.Persistence.RepositoryInterfaces.IPatientCaseRepository, DH.Curbside.Core.Persistence" mapTo="DH.Curbside.Infrastructure.Persistence.Repositories.PatientCaseRepository, DH.Curbside.Infrastructure.Persistence">
          <lifetime type="hierarchical" />
        </type>
        <!--Patient Case-->

        <!--Tenant-->
        <type type="DH.Curbside.Core.Persistence.RepositoryInterfaces.ITenantRepository, DH.Curbside.Core.Persistence" mapTo="DH.Curbside.Infrastructure.Persistence.Repositories.TenantRepository, DH.Curbside.Infrastructure.Persistence">
          <lifetime type="hierarchical" />
        </type>
        <!--Tenant-->

        <!--Provider-->
        <type type="DH.Curbside.Core.Persistence.RepositoryInterfaces.IProviderRepository, DH.Curbside.Core.Persistence" mapTo="DH.Curbside.Infrastructure.Persistence.Repositories.ProviderRepository, DH.Curbside.Infrastructure.Persistence">
          <lifetime type="hierarchical" />
        </type>
        <!--Provider-->
        <!--Status-->
        <type type="DH.Curbside.Core.Persistence.RepositoryInterfaces.IPatientCaseStatusRepository, DH.Curbside.Core.Persistence" mapTo="DH.Curbside.Infrastructure.Persistence.Repositories.PatientCaseStatusRepository, DH.Curbside.Infrastructure.Persistence">
          <lifetime type="hierarchical" />
        </type>
        <!--Status-->

        <!--User-->
        <type type="DH.Curbside.Core.Persistence.RepositoryInterfaces.IUserRepository, DH.Curbside.Core.Persistence" mapTo="DH.Curbside.Infrastructure.Persistence.Repositories.UserRepository, DH.Curbside.Infrastructure.Persistence">
          <lifetime type="hierarchical" />
        </type>
        <!--User-->

        <!--Domain-->
        <type type="DH.Curbside.Core.Application.WhitelistDomain.IWhitelistDomainApplication, DH.Curbside.Core.Application" mapTo="DH.Curbside.Core.Application.WhitelistDomain.WhitelistDomainApplication, DH.Curbside.Core.Application">
          <lifetime type="hierarchical" />
          <interceptor type="InterfaceInterceptor" />
          <policyInjection />
        </type>

        <type type="DH.Curbside.Core.Persistence.RepositoryInterfaces.IDomainRepository, DH.Curbside.Core.Persistence" mapTo="DH.Curbside.Infrastructure.Persistence.Repositories.DomainRepository, DH.Curbside.Infrastructure.Persistence">
          <lifetime type="hierarchical" />
        </type>
        <!--Domain-->

        <!--Mediasite-->
        <type type="DH.Curbside.Core.Application.Mediasite.IMediasiteApplication, DH.Curbside.Core.Application" mapTo="DH.Curbside.Core.Application.Mediasite.MediasiteApplication, DH.Curbside.Core.Application">
          <lifetime type="hierarchical" />
          <interceptor type="InterfaceInterceptor" />
          <policyInjection />
        </type>
        <!--Mediasite-->

      </types>
    </container>
  </containers>
  <typeAliases>
    <typeAlias alias="perInstance" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="hierarchical" type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
  </typeAliases>
</unityCurbside>
