<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unityCurbside" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network" from="ftpindia@prokarma.com">
        <network host="10.5.3.3" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <log4net>
    <!--AdoNet appender is used for write log file into sql server-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--Connection String DEV-->
      <!--<connectionString value="Data Source=172.16.100.160\SQL2012;Initial Catalog=Curbside;User Id=PKMI897;Password=pkmi897;Pooling=False" providerName="System.Data.SqlClient" />-->
      <!--Connection String QA-->
      <!--<connectionString value="Data Source=172.16.100.160\SQL2012;Initial Catalog=CurbsideQA;User Id=curbside_qa;Password=Curbside@qa;Pooling=False" providerName="System.Data.SqlClient"/>-->
      <!--Azure Connection String-->
      <connectionString value="Data Source=pksqldevelopment.database.windows.net;Initial Catalog=CurbSide_QA;User Id=prokarma_dev;Password=Welcome@123;Pooling=False" providerName="System.Data.SqlClient" />
      <commandText value="INSERT INTO AppLog ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <!--Add appender which you want to use, You can add more then one appender . Like if you want save log both plain text or sql server ,Add both appender.-->
    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
      <!--Enable this line if you want write log file into sql server-->
    </root>
  </log4net>
  <unityCurbside configSource="unity.config" />
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />

    <!--Mediasite Keys-->
    <add key="MS_EndPointURI" value="http://ms.barrowmedia.com/mediasite/" />
    <!--<add key="MS_APIKey" value="afac25e0-b125-49eb-8587-5ce355394d6d" />-->
    <add key="MS_APIKey" value="4854ce06-fbe0-4346-8ae1-4b465d373c9f" />
    <!--Key for accessing Thumbnail without Authorization Key - "AllowAnonymousThumbnails": true -->
    <add key="MS_UserName" value="Apptest" />
    <add key="MS_Password" value="Apptest2017!" />
    <add key="MS_MinutesToLive" value="1440" />
    <!--24 hours-->
    <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=dignityhealthstorage;AccountKey=D8PzQwZCRRVmBqLF8h5BjQkq6tBktUgA09wTmfguPS5WY0zVSx7zk5XXNSDSXoKSIfv1K4WNTj+K2h/ZPmZQqw==" />
    <add key="BlobAccountName" value="dignityhealthstorage" />
    <add key="ThumbWidth" value="100"/>
    <add key="ThumbHeight" value="100"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="CurbsideConnection" connectionString="Data Source=172.16.100.160\SQL2012;Initial Catalog=CurbsideQA;User Id=curbside_qa;Password=Curbside@qa;Pooling=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="CurbsideConnection" connectionString="Data Source=172.16.100.160\SQL2012;Initial Catalog=Curbside;User Id=PKMI897;Password=pkmi897;Pooling=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="CurbsideConnection" connectionString="data source = RMALEWAR\SSEXPRESS2014; initial catalog = CurbSide7; Trusted_Connection=Yes " providerName="System.Data.SqlClient" />-->
    <!--Azure Connection String-->
    <add name="CurbsideConnection" connectionString="Data Source=pksqldevelopment.database.windows.net;Initial Catalog=CurbSide_QA;User Id=prokarma_dev;Password=Welcome@123;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--This will allow email address(.com) in URL routing-->
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>