<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>
    <add key="URL" value="http://172.16.200.231/curbside/api/v1.0/346171E5-828C-4E62-AED0-0A922C8CB3AC" />
    <add key="connectionstring" value="server=172.16.100.160\SQL2012;database=CurbsideQA;uid=curbside_qa;pwd=Curbside@qa;" />
    <!--<add key="connectionstring" value="server=172.16.100.160\SQL2012;Initial Catalog=Curbside;User Id=PKMI897;Password=pkmi897;" />-->
    <add key="TenantId" value="346171E5-828C-4E62-AED0-0A922C8CB3AC" />
  </appSettings>
 <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider --><unitTestProvider name="MsTest" />
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="SpecRun" /><plugins>
      <add name="SpecRun" />
    </plugins></specFlow>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
